@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #F47A22; /* F47A22 */
  --color-primary-dark: #BB4D00;
  --color-secondary: #063B5C;
  --color-background: #FFFFFF;
  --color-foreground: #111111;
  --color-text-secondary: #4B5563;
  --color-text-placeholder: #6B7280;
  --color-success: #16A34A;
  --color-error: #D93025;
  
  /* UI Elements */
  --color-surface-dim: #F4F4F4;
  --color-border: #E2E8F0;
  --color-hover: #F1F5F9;
  
  /* Feedback/Alerts */
  --color-warning-light: #FFF3CD;
  --color-warning-bg: #FFE6B3;
  --color-warning-border: #FEE685;
  --color-error-light: #FFE2E2;
  --color-error-border: #FFC9C9;
  
  /* Utils */
  --color-shadow: #0000001A;
  --color-muted: #62748E;
}

@theme inline {
  --color-primary: #F47A22;
  --color-primary-dark: #BB4D00;
  --color-secondary: #063B5C;
  --color-background: #FFFFFF;
  --color-foreground: #111111;
  --color-text-secondary: #4B5563;
  --color-text-placeholder: #6B7280;
  --color-success: #16A34A;
  --color-error: #D93025;
  --color-surface-dim: #F4F4F4;
  --color-border: #E2E8F0;
  --color-hover: #F1F5F9;
  --color-warning-light: #FFF3CD;
  --color-warning-bg: #FFE6B3;
  --color-warning-border: #FEE685;
  --color-error-light: #FFE2E2;
  --color-error-border: #FFC9C9;
  --color-shadow: #0000001A;
  --color-muted: #62748E;
  
  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
